<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/body.css">
    <link rel="stylesheet" href="../resources/css/grid.css">
    <link rel="stylesheet" href="../resources/css/menu.css">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="shortcut icon" href="../static/twitter-icon.ico" type="image/x-icon">
    <title>Inicio / Twitter</title>
</head>

<body>

    <div class="container">

        <!-- MENU -->
        <div class="menu-container">
            <div class="menu-part-1">
                <div class="item">
                    <a href="#" class="menu-item"><img class="twitter-home-icon"
                            src="../resources/icons/twitter-logo.svg" alt=""></a>
                </div>

                <div class="item">
                    <a href="#" class="menu-item"> <img class="menu-icon" src="../resources/icons/twitter-home.svg"
                            alt=""> <h3 class="label">Inicio</h3> </a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-hastag.svg"
                            alt=""><h3 class="label">Explorar</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-bell.svg"
                            alt=""><h3 class="label">Notificaciones</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-message.svg"
                            alt=""><h3 class="label">Mensajes</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-save.svg"
                            alt=""><h3 class="label">Guardados</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-list.svg"
                            alt=""><h3 class="label">Listas</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-user.svg"
                            alt=""><h3 class="label">Perfil</h3></a>
                </div>
                <div class="item">

                    <a href="#" class="menu-item"><img class="menu-icon" src="../resources/icons/twitter-options.svg"
                            alt=""><h3 class="label">Más opciones</h3></a>
                </div>

                <div class="item">
                    <div class="twitter-button"> <h3 class="label">Twitter</h3> <img class='img-feather' src="../resources/icons/twitter-feather.svg" alt=""></div>
                   
                </div>
            </div>

            <div class="menu-part-2">
                <div class="item">
                    <a href="" class="menu-item-user">

                        <div class="user-nama-image">
                            <img class="user-image" src="../resources/image/user-image.jpg" alt="">

                            <div class="user-name">
                                <h3 class="name label">Smerlyn Javier</h3>
                                <h3 class="username label">@smerlyn001</h3>
                            </div>
                        </div>


                        <div class="user-button"><h3 class="label">▿</h3></div>

                    </a>
                </div>
            </div>
        </div>



        <!-- CONTENIDO -->
        <div class="content-container">
            <h3>CONTENIDO</h3>
        </div>


        <!-- SUGERENCIAS -->
        <div class="suggestions-container">
            <h3>SEGERENCIAS</h3>
        </div>

    </div>

</body>


</html>