<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/body.css">
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="shortcut icon" href="../static/twitter-icon.ico" type="image/x-icon">
    <title>Twitter</title>
</head>


<body>
    <!-- MENU -->
    <div class="menu-container">
        <h3>MENU</h3>
    </div>
    <!-- CONTENIDO -->
    <div class="content-container">
        <h3>CONTENIDO</h3>
    </div>
    <!-- SUGERENCIAS -->
    <div class="suggestions-container">
        <h3>SEGERENCIAS</h3>
    </div>

</body>

</html>